<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" type="text/css" href="stock.css">
</head>
<body>
  <header>
    <h1>Stock </h1>
  </header>
  
  <section>
    <h2>Matier Premiere</h2>
    <div class="menu-container">
      <div class="menu-item">
        <img src="argile-rouge.png" alt="Burger">
        <h3>argile-rouge</h3>
        <p>Nombre 200</p>
        
      </div>
      
      <div class="menu-item">
        <img src="poudre.jpg" alt="Pizza">
        <h3>poudre charbon</h3>
        <p>Nombre 250</p>
       
      </div>
      <!-- Ajoutez d'autres éléments de menu ici -->
      <div class="menu-item">
        <img src="fecule.jpg" alt="Pizza">
        <h3>Fecule</h3>
        <p>Nombre 365</p>
      
      </div>
      <div class="menu-item">
        <img src="Vegetal.jpg" alt="Pizza">
        <h3>Dechet Vegetal</h3>
        <p>Nombre 365</p>
      
      </div>
      <!-- Ajoutez d'autres éléments de menu ici -->
      
    </div>
    
    </div>
    
  </section>
  
 
  
  <footer>
    <p>&copy; Fakoma. Tous droits réservés.</p>
  </footer>
</body>
</html>
